.linkblocktext a {
    display:block;
    font-weight:initial;
}

.linkblocktext a *:hover, .linkblocktext a *:focus {
    color:#069;
}

.linkblocktext a h2{ /* Every <h2> tag inside an <a> tag inside a tag with class="linkblocktext" */
    color:#267CB9;
    text-decoration:none;
  }

  .avatarImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    opacity: 0.7;
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
  }

  .icon.icon--linkedin:hover, .icon.icon--linkedin:focus {
    fill: #0077B5;
  }

  .wrapperPost {
    width:860px; /*Total page width*/
    margin:0 auto;
  }
  
  .sectionPost {
    width:600px; /*post content column width*/
    float:right;
    padding-bottom:50px;
  }

  .headerPost, .footerPost {
    padding-right:30px;
    width:230px;/*post index column width*/
  }

  headerPost {
    width:270px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
    padding-right:320px;
  }

  // headerPost toc ul{
  //   padding-inline-start: 20px;
  // }

  @media print, screen and (max-width: 960px) {
    
    .wrapperPost {
      width:auto; /*Total page width*/
      margin:0 auto;
    }

    headerPost {
      padding-right:0px;
      float:none;
      position:static;
      width:auto;
    }

    headerPost a small {
      display:inline;
    }
    
    headerPost ul {
      right:50px;
      top:52px;
    }
  }

  @media print, screen and (max-width: 720px) {
    headerPost {
      padding:0;
    }

    headerPost ul, headerPost p.view {
      position:static;
    }
 
  }  

  @media print, screen and (max-width: 480px) {
    body {
      padding:15px;
    }
  
    .downloads {
      width:99%;
    }
  
    .downloads li, .downloads li + li + li {
      width:33%;
    }
  }
  
  