<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    
<!-- Math formulas render support -->
<script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
      processEscapes: true
    }
  };
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
<link rel="stylesheet" href="/assets/css/pygments/{{site.pygments_theme | default: friendly}}.css">
  </head>
  <body>
    <div class="wrapperPost">

        <headerPost class="headerPost">
            <p></p>
            <h3><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h3>
                    
            <h2>{{ page.title }}</h2>
                    
            <toc>
            <h4>Table of Contents</h4>
            {% include toc.html html=content h_min=1 h_max=page.tocmaxlevel %}
            </toc>
            
            </headerPost>
            <section class="sectionPost">
      {{ content }}

      {% include disqusComments.html %}
</section>
<footer class="footerPost">
  <div id="disqus_thread"></div>

  <p>Opinions expressed are solely my own and do not express the views or opinions of my employer.</p>
                
</footer>

    </div>

  </body>
</html>